@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.DependencyInjection
@using System.Security.Claims
@using BookStoreApp.Models
@inject AuthenticationStateProvider Auth
@inject IServiceScopeFactory ScopeFactory

<nav class="navbar bg-body-tertiary px-3">
	<div class="container-fluid navbar-layout">

		<div class="nav-left">
			<div class="dropdown-wrapper">
				<button class="btn btn-link p-0 border-0" @onclick="ToggleMenu" @onclick:stopPropagation="true">
					<img src="images/menu.png" alt="Menu" width="24" height="24" />
				</button>
				@if (_menuOpen)
				{
					<div class="dropdown-menu-custom show">
						<a class="dropdown-item" href="/" @onclick="CloseMenu">Home</a>
						<a class="dropdown-item" href="/books" @onclick="CloseMenu">Book List</a>
						<CascadingAuthenticationState>
							<AuthorizeView>
								<NotAuthorized>
									<a class="dropdown-item" href="/register" @onclick="CloseMenu">Sign Up</a>
									<a class="dropdown-item" href="/login" @onclick="CloseMenu">Log In</a>
								</NotAuthorized>
								<Authorized>
									<a class="dropdown-item" href="/logout" @onclick="CloseMenu">Log Out</a>
								</Authorized>
							</AuthorizeView>
						</CascadingAuthenticationState>
					</div>
				}
			</div>
		</div>

		<a class="navbar-brand nav-center" href="/">BookStore</a>

		<div class="nav-right">
			<CascadingAuthenticationState>
				<AuthorizeView>
					<Authorized>
						<a class="nav-link p-0" href="/cart">
							<img src="images/cart.png" alt="Cart" width="20" height="20" />
						</a>
						<a href="/profile" class="profile-link">
							<img src="images/profile.png" alt="Profile" width="20" height="20" class="profile-img" />
							<span class="profile-name">@_userName (@_userRoleName)</span>
						</a>
					</Authorized>
					<NotAuthorized>
						<a class="nav-link p-0" href="/login">
							<img src="images/cart.png" alt="Cart" width="20" height="20" />
						</a>
						<a href="/login" class="profile-link">
							<img src="images/profile.png" alt="Profile" width="20" height="20" class="profile-img" />
						</a>
					</NotAuthorized>
				</AuthorizeView>
			</CascadingAuthenticationState>
		</div>

	</div>
</nav>

@code {
	private string _userName = "";
	private string _userRoleName = "";
	private bool _menuOpen;

	private void ToggleMenu() => _menuOpen = !_menuOpen;
	private void CloseMenu() => _menuOpen = false;

	protected override async Task OnInitializedAsync()
	{
		var authState = await Auth.GetAuthenticationStateAsync();
		var user = authState.User;

		if (user.Identity is null || !user.Identity.IsAuthenticated)
		{
			_userName = "";
			_userRoleName = "";
			return;
		}

		await using var scope = ScopeFactory.CreateAsyncScope();
        // Usermanager is scoped, so we need to create a scope to get it
		var userManager = scope.ServiceProvider.GetRequiredService<UserManager<AppUser>>();

		var appUser = await userManager.GetUserAsync(user);
		if (appUser is not null)
		{
			// if There is not a name, use email
			_userName = !string.IsNullOrWhiteSpace(appUser.Name)
				? appUser.Name
				: appUser.Email ?? "";

			var roles = await userManager.GetRolesAsync(appUser);
			_userRoleName = roles.FirstOrDefault() ?? "";
		}
		else
		{
			_userName = user.Identity.Name ?? "";
			_userRoleName = "";
		}
	}
}


